trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  webAppName: YOUR-WEB-APP-NAME
  azureSubscription: YOUR-SERVICE-CONNECTION-NAME
  siteFolder: site

steps:
- checkout: self
  displayName: 'Checkout repository'

- script: |
    echo "Listing contents of $(siteFolder):"
    ls -la "$(siteFolder)"
  displayName: 'Inspect site folder'

- task: ArchiveFiles@2
  displayName: 'Archive static site'
  inputs:
    rootFolderOrFile: '$(siteFolder)'
    includeRootFolder: false
    archiveType: zip
    archiveFile: '$(Build.ArtifactStagingDirectory)/site.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: drop
    publishLocation: Container

- task: AzureWebApp@1
  displayName: 'Deploy to Azure Web App'
  inputs:
    azureSubscription: '$(azureSubscription)'
    appName: '$(webAppName)'
    package: '$(Build.ArtifactStagingDirectory)/site.zip'
    appType: webAppLinux
